:root{
    --main-font:'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --hover-color: #2196F3;
}

body{
    font-family: var(--main-font);
    color:#212121;
}

/*======== HEADER ========*/


/*======== END HEADER ========*/

